.ch-temp {
    animation: entrance 1s linear forwards;
    cursor: default;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
}

/* CSS for channel menu*/
.ch-menu {
    position: relative;
    display: block;
    background-color: lightgray;
    padding-left: 5px;
}

.ch-menu h2 {
    display: inline-block;
}

.btn-close, .ch-header-hide {
    float: right;
    border: none;
    background-color: inherit;
}

.ch-header-hide {
    transform: rotate(90deg);
    position: absolute;
    font-size: var(--symbol-size-2);
    margin:0;
    padding: 0;
    bottom: 0;
    right: 1%;
    cursor: pointer;
    transition: transform 1s linear;
    z-index: 1;
}
/* CSS for channel header*/
.ch-header {
    overflow: hidden;
    position: relative;
    height: auto;
    max-height: 0px;
    transition: max-height 1s ease-in-out;
}
.ch-header-block h5 {
    display: inline-block;
    margin: 0;
}

.ch-header-block p {
    margin: 0;
    margin-bottom: var(--margin-offset);
    color: grey;
    font-size: var(--font-size);
}

.ch-header-block ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: var(--margin-offset);
    padding: var(--padding-offset);
    font-size: var(--font-size);
}

.ch-header-block ul li {
    margin: 0;
    margin-right: var(--margin-offset);
    display: inline-block;
    padding: 2px 5px;
    color: white;
    font-size: var(--font-size);
    background-color: #2196F3;
    border-radius: 5px;
}

span.ch-header-plus {
    display: inline-block;
    margin-left: var(--margin-offset);
    font-size: var(--symbol-size-2);
    padding: 0 2px;
    background-color:grey;
    border-radius: 50%;
}

span.ch-header-plus:hover {
    cursor: pointer;
    background-color: #2196F3;
}

.ch-header-block h6 {
    color: grey;
    display: inline-block;
    margin: 0;
}

.ch-header-block h6:hover {
    color:black;
    cursor: pointer;
}

.box-invite-users {
    margin: 0;
}

.box-invite-users ul{
    margin: 0 var(--margin-offset);
    padding: 0;
    width: 80px;
    overflow-x: hidden;
    list-style: none;
    font-size: var(--font-size);
    border: 1px solid black;
    z-index: 1;
}
.box-invite-users ul li{
    background-color: grey;
    margin: 0;
}

.box-invite-users ul li:hover{
    opacity: 0.5;
}
/* CSS for chat*/
.ch-msg {
    padding: var(--padding-offset);
    position: relative;
    overflow-y: scroll;
    width: 100%;
    display: flex;
    flex: 1;
    height: 100%;
}

.ch-new-msg {
    display: block;
    margin-top: var(--margin-offset);
    margin-bottom: var(--margin-offset);
}

.tool-msg {
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: var(--margin-offset);
}

.tool-msg span{
    padding-left: var(--padding-offset);
    font-size: var(--font-size);
    width: var(--symbol-size-1);
}
/*
.tool-msg span:hover {
    background-color: lightgrey;
}*/
/* CSS for menues */
.menu-box {
    position: relative;
}

.menu-tb {
    display: none;
    position: absolute;
    flex-flow: row wrap;
    justify-content: space-between;
    z-index: 1;
    margin: 1px;
    border: 1px solid lightgray;
    background-color: white;
}

.menu-item {
    display: inline-block;
    margin: 1px;
}

.menu-item img {
    height: var(--symbol-size-1);
}
/* CSS for EMOJIS*/
div.emoji_tb {
    overflow-y: scroll;
    overflow-x: hidden;
    width: calc(var(--symbol-size-1)*6);
    height: 100px;
    top: -100px;
}

.emoticon {
    margin: 1px;
    padding: var(--padding-offset);
    text-align: center;
    cursor: pointer;
}

/* CSS for attachments*/
.attach_tb {
    flex-wrap: nowrap;
    align-self: stretch;
    margin: auto;
    height: auto;
    top: -25px;
}

.btn-attach img {
    height: var(--font-size);
}

/* CSS Messega Send*/

.ch-send-msg {
    display: flex;
}

.msg-content {
    display: block;
    resize: none;
    width: 100%;
    min-height: 50px;
    margin: var(--padding-offset);
    font-size: var(--font-size);
}

.btn-send-msg {
    font-size: var(--symbol-size-1);
    border-radius: 5px;
    max-height: calc(var(--font-size)*2);
    margin: var(--padding-offset);
}

.file-preview {
    height: var(--file-img-max-size);
    margin-left: var(--margin-offset);
}



/*Animation for channel page*/
@keyframes entrance{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}