/*
    CSS for New Channel Creation Form
*/
#new-ch {
    padding-right: 50px;
    padding-left: 20px;
    animation: entrance 2s linear forwards;
}

#new-ch div:first-child {
    display: flex;
}

/*
    Toggle switch for Public or Private Selector in Create Channel Form
*/

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    top: 20px;
    left: 50px;
}

/* Hide default HTML checkbox */
#status-toggle {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

/* Add a content to span tag to create a white circle */
.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

/* Rounded the span tag */
.slider.round {
    border-radius: 20px;
}

/* Rounded the content of span to create a circle */
.slider.round:before {
    border-radius: 50%;
}

/* When the checkbox is checked change the color of span*/
input:checked + .switch .slider {
    background-color: #2196F3;
    box-shadow: 0 0 1px #2196F3;
}

/* When the checkbox is checked move the white circle to right*/
input:checked + .switch .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.public-description {
    display: none;
    -webkit-transition: .4s;
    transition: .4s;
}

.private-description {
    display: block;
    -webkit-transition: .4s;
    transition: .4s;
}

input[name='ch_st']:checked ~ .public-description {
    display: block;
}

input[name='ch_st']:checked ~ .private-description {
    display: none;
}

.description h4 {
    margin: 0;
}
.description p {
    margin: 0;
    color: grey;
}
/*
  Finish Toggle Switch
*/

/* CSS for Input Name Channel*/
.name_chart {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
}

input[name="ch_name"] {
    background-color: inherit;
    border: none;
}

/* CSS for Add Users */
.add_users {
    position: relative;
    display: block;
}

.add_users h4, span {
    display: inline-block;
    margin-bottom: 0;
}

.add_users br {
    height: 5px;
}

input[name="add_u"] {
    display: block;
    border: none;
    border-bottom: 1px solid grey; 
}

#add_u_names {
    display: flex;
    margin-top: 5px;
}

#add_u_names span {
    color: white;
    font-size: var(--font-size);
    background-color: #2196F3;
    padding: 2px 5px;
    margin-right: 3px;;
    border-radius: 5px;
}
#add_u_names span:hover {
    cursor: pointer;
}

#finders {
    position: absolute;
    list-style: none;
    text-align: left;
    top: 58px;
    left: -40px;
    margin-top: 0;
    z-index: 1;
}

#finders li {
    display: block;
    background-color: white;
    border: 1px solid lightgrey;
    width: 200px;
}

#finders li:hover {
    background-color: lightgrey;
}

/* CSS for Propose */
.ch_propose h4 {
    margin-bottom: 0;
}

textarea[name="ch_propose"] {
    background-color: inherit;
    border-radius: 5px;
    border: 1px solid grey;
    overflow: hidden;
    resize: none;
    width: 100%;
    min-height: 20px;
}

/* CSS for button create channel*/



/* Finish CSS for New Channel Form*/