.flack {
    color: black;
    margin: auto;
    text-align: center;
}

.flack h1 {
    font-size: 60px;
    margin-top: 5%;
    margin-bottom: 0;
    animation: title_size 3s linear 3s forwards;
}

.flack svg {
    animation: svg_size 3s linear 3s forwards;
}

.login {
    margin: auto;
    text-align: center;
    animation: log_input 12s ease-in forwards;
}

.select-input {
    display: inline-block;
}

#select-avatar {
    position: relative;
    display: inline-flex;
}

#avatar{
    position: absolute;
    display: none;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: lightblue;
    left: var(--avatar-size);
    width: calc(var(--avatar-size) * 4);
}

.avatar-img{
    width: var(--avatar-size);
    height: var(--avatar-size);
    padding: var(--padding-offset);
    border-radius: 5px;
}


@keyframes title_size {
    0%{
        font-size: 60px;
    }
    100% {
        font-size: 20px;
    }
}

@keyframes svg_size {
    0%{
        width: 300px;
        height: 200px;
    }
    100% {
        width: 60px;
        height: 40px;
    }
}

@keyframes log_input {
    0% {
       opacity: 0;
       display: none;
    }
    50% {
        opacity: 0;
        display: block;
    }
    100% {
        opacity: 1;
    }
}